<form [formGroup]="form">
  <div
    class="ons-wrapper"
    *ngFor="let item of formservice.onsData; let i = index"
    formGroupName="onsForm"
  >
    <input
      type="checkbox"
      [id]="i"
      name="online-service"
      [formControlName]="item.optionName"
    />
    <label [for]="i" class="ons-label">
      <div class="ons-spans-wrapper column-flexed-wrapper">
        <div class="column-flexed-wrapper ons-text-wrapper">
          <span class="option-name">{{ item.optionName }}</span>
          <span class="option-description">{{ item.optionDescription }}</span>
        </div>
        <span class="additioanl-fees-span"
          >+${{
            form.value.plansForm.checkboxSwitch === true
              ? item.additionalMonthlyFees
              : item.additionalYearlyFees
          }}/{{
            form.value.plansForm.checkboxSwitch === false ? "yr" : "mo"
          }}</span
        >
      </div>
    </label>
  </div>
</form>
