// Primary Colors
$primary-marine-blue-color: hsl(213, 96%, 18%);
$primary-purplish-blue-color: hsl(243, 100%, 62%);
$primary-pastel-blue: hsl(228, 100%, 84%);
$primary-light-blue: hsl(206, 94%, 87%);
$primary-strawberry-red: hsl(354, 84%, 57%);

// Neutral Colors
$neutral-cool-gray-color: hsl(231, 11%, 63%);
$neutral-light-gray-color: hsl(229, 24%, 87%);
$neutral-magnolia-color: hsl(217, 100%, 97%);
$neutral-albaster-color: hsl(231, 100%, 99%);
$neutral-white-color: hsl(0, 0%, 100%);

// fonts
$primary-ubuntu-font: "Ubuntu", sans-serif;
